{
  "trailingComma": "es5",
  "bracketSameLine": true,
  "jsxBracketSameLine": true,
  "singleAttributePerLine": false,
  "bracketSpacing": true,
  "tabWidth": 2,
  "semi": true,
  "singleQuote": true
}
